
body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(226, 214, 197)
}
.form {
    text-align: center;
}

#form1 {
    width: 600px;
    background: rgb(226, 214, 197);
    margin: 0 auto;
    height: 280px;
}

#form1 input[type=text] {
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    color: #000000;
    display: block;
    line-height: 1.2;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 10px;
    height: 50px;
    padding: 0 20px 0 23px;
    border: 0;
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 5%);
    -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 5px 20px 0 rgb(0 0 0 / 5%);
    -o-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
}

#form1 input[type=text]:focus {
    border: 0;
    outline: none;
    box-shadow: 0 5px 20px 0 rgb(250 66 81 / 10%);
    -moz-box-shadow: 0 5px 20px 0 rgba(250, 66, 81, 0.1);
    -webkit-box-shadow: 0 5px 20px 0 rgb(250 66 81 / 10%);
    -o-box-shadow: 0 5px 20px 0 rgba(250, 66, 81, 0.1);
    -ms-box-shadow: 0 5
}
.form .lienhe {
    margin-top: -10px;
    width: 20%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600px;
}
.box-menu ul li a{ 
    color: #000000;
    text-decoration: none;
    padding:5px 10px;
    margin-right: -10px;
font-weight: bolder;
    
 }
 